hr.solid {
  border-top: 2px solid #000000;
}

body {
  font-family: "Carlito";
  font-size: 13;
  margin: 150px;
}

a {
  color: #000000;
  text-decoration: none;
}

.objective {
  text-indent: 40px;
}
